body{
  display: flex;
  justify-content: center;
  background-color: grey;
  margin: 0;
}

.classCanvas{
  display: flex;
  background-color: black;
}

#modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 500;
  height: 500;
}

#game-over{
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 500;
  height: 500;
}

.score{
  position:absolute;
  color: white;
}