html {
display: flex;
justify-content: center;
}

body{
  display: flex;
  justify-content: center;
  background-color: grey;
  margin: 0;
}

canvas{
  border: rgb(24, 23, 23) solid 5px
}

.classCanvas{
  display: flex;
  background-color: black;
}

#modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 500;
  height: 500;
}

#game-over{
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 500;
  height: 500;
}

#pause{
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 500;
  height: 500;
}

.instruction-div{
  display: flex;
  flex-direction: column;
  font-size: 12;
  color: yellow
}

.score{
  position:absolute;
  color: white;
}